@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: auto;
    color: rgb(54, 119, 204);
}

.App-root {
    height: 100vh;
    margin: auto;
    max-width: 600px;
}

.Nav-root {
    background-color: rgb(255, 255, 255);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgba(17, 17, 17, 0.171);
}

.Nav-title {
    align-self: center;
    width: 70%;
}

.App-content {
    height: 93vh;
}

.CreateBlog-root {
    height: 93vh;
    text-align: center;
}

.Nav-links {
    align-self: center;
    display: flex;
    width: 30vw;
    justify-content: space-around;
    width: 30%;
}

.Home-root {
    height: 100%;
    text-align: center;
}

.Submit-post {
    text-align: center;
}

.CreatBlog-main-container {
    /* background-color: antiquewhite; */
    margin: auto;
    width: 70%;
}

.CreatBlog-form {
    background-color: rgb(125, 196, 255);
    margin: auto;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    padding: 20px;
}

.CreateBlog-input-label {
    font-weight: bold;
}

.CreateBlog-submit-button {
    border-radius: 5px;
    background-color: rgb(54, 119, 204);
    border-color: rgb(54, 119, 204);
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 30px;
}

.CreateBlog-submit-button:hover {
    background-color: rgb(24, 61, 109);
    border-color: rgb(24, 61, 109);
}


/* BlogItem-root */

.BlogItem-root {
    transition: box-shadow .3s;
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    color: rgb(54, 119, 204);
    border-radius: 5px;
}

.BlogItem-root:hover {
    background-color: rgb(209, 209, 209);
    box-shadow: 12px 12px 16px rgba(33, 33, 33, .2);
}